article > h1,
h2 {
  margin-top: 30px;
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
}

article > p {
  text-align: justify;
  line-height: 1.75;
}

article > p > a {
  text-decoration: none;
  color: rgb(178, 39, 181);
}

img {
  text-align: center;
  max-width: 100%;
}
