header {
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;

  background: rgb(23, 176, 186);
  background: radial-gradient(
    circle,
    rgba(23, 176, 186, 1) 0%,
    rgba(9, 106, 121, 1) 51%,
    rgba(47, 75, 80, 1) 100%
  );
}
header nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #2e2e2e;
  letter-spacing: 2px;
  margin-right: 10px;
}
header #navigation {
  margin: 0;
}
header #intro {
  border-bottom: 1px solid rgba(63, 63, 63, 0.39);
  border-top: 1px solid rgba(63, 63, 63, 0.39);
  text-align: center;
  padding-top: 30px;
  /* background-color: #f5f8fa; */
}
header #intro img {
  border: 1px solid rgba(255, 255, 255, 0.384);
  padding: 2px;
  border-radius: 250px;
  width: 100px;
}
header #intro h1,
.phrase {
  color: #fff;
}
header #intro h1 {
  font-size: 2rem;
  margin-top: initial;
}
header .phrase {
  opacity: 0.75;
  font-weight: 200;
  font-family: "Merriweather Sans", sans-serif;
  margin-top: -20px;
}

header code {
  background-color: #fff;
  color: rgb(22, 99, 109);
  padding: 2px;
  margin: 0 3px;
}

@media screen and (max-width: 600px) {
  header #intro {
    padding-top: 15px;
  }

  header #intro h1 {
    padding: 0 15px;
    margin-top: initial;
  }
  header .phrase {
    font-size: 1.2rem;
    padding: 0 10px;
  }
}
